* {
	margin: 0;
	border: 0;
	padding: 0;
}

body{
	width: 970px;
	margin: 0 auto;
	font-family: tahoma, sans-serif;
	font-size: 12px;
}

header {
	padding: 20px 10px;
	background-color: blue;
	color: white;
}

h1, th {
	font-weight: normal;
}

.content-area {
	width: 100%;
	background-color: green;
	padding:  10px;
	box-sizing: border-box;
}

table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: white;
	
}

th {
	font-size: 1.2em;
}

.date{
	width: 12%;
}

.description {
	width: 38%;
}

.debit, .credit {
	width: 25%;
}


input {
	display: block;
	width: 100%;
	heigth: 100%;
	outline: none;
	box-sizing: border-box;
}

input:focus {
	outline: 3px solid	 black;
}

td, input {
	text-align: center;
}

table, td, th {
	border: 1px  solid black;
}

     #ExcelCursorOuter {
      position: relative;
     }

     #ExcelCursor {
      position: absolute;
      top: 13px;
      right: -5px;
      background: #000;
      width: 5px;
      height: 5px;
      border: 1px solid #fff;
      border-right: 0px;
      border-bottom: 0px;
     }